.control-container .nav-link {
  cursor: pointer;
}

.control-container .e-appbar-small-spacer {
  width: 10px; /* Adjust the width as needed */
  display: inline-block;
}
.appbar{
  background: linear-gradient(to top, #c9c9ff 50%, #6060f6) no-repeat;
  font-size: medium;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}
